In [1]:
from pyspark import SparkContext, SparkConf
cf = SparkConf()
cf.set("spark.submit.deployMode","client")
sc = SparkContext.getOrCreate(cf)
from pyspark.sql import SparkSession
spark = SparkSession \
	    .builder \
	    .appName("Python Spark SQL basic example") \
	    .config("spark.some.config.option", "some-value") \
	    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/19 22:36:31 INFO org.apache.spark.SparkEnv: Registering MapOutputTracker
23/04/19 22:36:31 INFO org.apache.spark.SparkEnv: Registering BlockManagerMaster
23/04/19 22:36:31 INFO org.apache.spark.SparkEnv: Registering BlockManagerMasterHeartbeat
23/04/19 22:36:32 INFO org.apache.spark.SparkEnv: Registering OutputCommitCoordinator

In [2]:
parking_df = spark.read.csv(path='/shared/CS-GY-6513/parking-violations/parking-violations-header.csv',header=True)

In [3]:
parking_df.count()

1014017

In [4]:
parking_df.select('summons_number').distinct().count()

1014017

In [5]:
# Register the DataFrame as a SQL temporary view
parking_df.createOrReplaceTempView("parking")
spark.sql("SELECT count(DISTINCT plate_type) FROM parking").show()

+--------------------------+
|count(DISTINCT plate_type)|
+--------------------------+
|                        75|
+--------------------------+

In [6]:
# List the distinct plate types in the table
spark.sql("SELECT DISTINCT plate_type FROM parking").show()

+----------+
|plate_type|
+----------+
|       CCK|
|       CLG|
|       SOS|
|       SPC|
|       SUP|
|       NYA|
|       OMO|
|       LMB|
|       APP|
|       RGL|
|       FAR|
|       CHC|
|       STA|
|       BOT|
|       COM|
|       RGC|
|       TRC|
|       AMB|
|       HAM|
|       MCD|
+----------+
only showing top 20 rows

In [7]:
# List each distinct plate type and its frequency in the table
# e.g.
#    plate_type count
#    PAS        740554
#    COM        190147

spark.sql("SELECT plate_type, count(plate_type) AS count FROM parking GROUP BY plate_type").show()

+----------+------+
|plate_type| count|
+----------+------+
|       CLG|     2|
|       NYA|     3|
|       SPC|    28|
|       SOS|    15|
|       OMO|     2|
|       LMB|     2|
|       SUP|     8|
|       CCK|     2|
|       APP|  1952|
|       RGL|   524|
|       CHC|    35|
|       BOT|     2|
|       STA|    33|
|       FAR|     2|
|       COM|190147|
|       TRC|  2784|
|       RGC|    25|
|       AMB|    17|
|       HAM|    19|
|       NYS|     5|
+----------+------+
only showing top 20 rows

In [8]:
# order the results of the previous query by count, the most frequent should appear first
spark.sql("SELECT DISTINCT plate_type, count(plate_type) AS count FROM parking GROUP BY plate_type ORDER BY count DESC").show()

+----------+------+
|plate_type| count|
+----------+------+
|       PAS|740554|
|       COM|190147|
|       OMT| 35480|
|       OMS|  9032|
|       SRF|  8341|
|       IRP|  5291|
|       999|  4467|
|       TRC|  2784|
|       OMR|  2158|
|       APP|  1952|
|       MOT|  1851|
|       ORG|  1591|
|       CMB|  1368|
|       MED|  1211|
|       OML|  1181|
|       PSD|   900|
|       SPO|   823|
|       SCL|   700|
|       TOW|   611|
|       RGL|   524|
+----------+------+
only showing top 20 rows

In [9]:
# change plate_type 999 to null
from pyspark.sql import functions as F
parking_df2 = parking_df.withColumn('plate_type', F.when(parking_df['plate_type']=='999', 'null').otherwise(parking_df['plate_type']))
parking_df2.groupBy('plate_type').count().orderBy('count', ascending=False).show(26)

+----------+------+
|plate_type| count|
+----------+------+
|       PAS|740554|
|       COM|190147|
|       OMT| 35480|
|       OMS|  9032|
|       SRF|  8341|
|       IRP|  5291|
|      null|  4467|
|       TRC|  2784|
|       OMR|  2158|
|       APP|  1952|
|       MOT|  1851|
|       ORG|  1591|
|       CMB|  1368|
|       MED|  1211|
|       OML|  1181|
|       PSD|   900|
|       SPO|   823|
|       SCL|   700|
|       TOW|   611|
|       RGL|   524|
|       VAS|   427|
|       SRN|   348|
|       DLR|   333|
|       TRA|   318|
|       ITP|   283|
|       TRL|   223|
+----------+------+
only showing top 26 rows

In [10]:
# remove all rows where plate_type=999  

parking_df2 = parking_df.filter(parking_df['plate_type'] != '999')
parking_df2.groupBy('plate_type').count().orderBy('count', ascending=False).show(26)

+----------+------+
|plate_type| count|
+----------+------+
|       PAS|740554|
|       COM|190147|
|       OMT| 35480|
|       OMS|  9032|
|       SRF|  8341|
|       IRP|  5291|
|       TRC|  2784|
|       OMR|  2158|
|       APP|  1952|
|       MOT|  1851|
|       ORG|  1591|
|       CMB|  1368|
|       MED|  1211|
|       OML|  1181|
|       PSD|   900|
|       SPO|   823|
|       SCL|   700|
|       TOW|   611|
|       RGL|   524|
|       VAS|   427|
|       SRN|   348|
|       DLR|   333|
|       TRA|   318|
|       ITP|   283|
|       TRL|   223|
|       CMH|   203|
+----------+------+
only showing top 26 rows

In [11]:
# Suppose we are interested in analyzing violations based on what county they occur.
# We might want to exclude rows that have a blank entry in the violation_county column.
# How many rows have Blank Entries in violation_county?
parking_df.filter( parking_df["violation_county"].isNull()).count()

192974

In [12]:
# Create a new dataframe without any black entries in violation_count
parking_df4 = parking_df.filter(parking_df['violation_county'].isNotNull())
parking_df4.count()

821043

In [13]:
# Let's clean the plate_ids
# “Clustering” helps detect entries in a column that are close together (and thus represent the same value

plate_id_rdd = parking_df.select('plate_id').rdd.flatMap(list)
plate_id_rdd.take(50)

['GBH2444',
 'GKZ2313',
 'N346594',
 'GDP2624',
 '42555JU',
 '62636MD',
 'DPE3045',
 'FMW7832',
 'DSD2130',
 '65111MB',
 'GMZ3750',
 '44884',
 'XZ876G',
 'PIKINE',
 'GMU4296',
 'GEJ8235',
 '74452JW',
 '42972JW',
 '66951',
 '63400JM',
 'GGS5172',
 '51329A',
 '49216KA',
 '31695JZ',
 '79638KA',
 '88720MB',
 'ERP5344',
 'FWM1758',
 '14307LV',
 'EWT1353',
 '65566PA',
 'FPF5158',
 '24393MC',
 '24393MG',
 'FXR1798',
 'FWH9893',
 '88629JH',
 '1510332',
 'DJE1615',
 '2208656',
 'GXC7520',
 'GRC4443',
 'T639084C',
 'GARFR5',
 'GTJ6780',
 '401ZGU',
 'ZWF21Z',
 'S274036',
 'PF090W',
 'GLR6718']

"Key Collision" methods are based on the idea of creating a key value that contains only 
 the most valuable or meaningful part of the string and groups together different strings based 
 on the fact that their key is the same (hence the name "key collision").
Fingerprinting Method:
note that the order of these operations (the last 3 lines) is significant.
remove leading and trailing whitespace	
change all characters to their lowercase representation
remove all punctuation and control characters
normalize extended western characters to their ASCII representation (for example "gödel" → "godel")
split the string into whitespace-separated tokens
sort the tokens and remove duplicates
join the tokens back together

In [14]:
import string, unicodedata
def fingerprint(value):
    key = unicodedata.normalize('NFKD', value).encode('ascii','ignore').decode()
    key = set(key.strip().lower().translate(str.maketrans('','',string.punctuation)).split())
    key = ' '.join(sorted(list(key)))
    return (key, value)

In [15]:
plate_id_rdd.distinct().map(fingerprint).first()

('gkz2313', 'GKZ2313')

In [16]:
plate_id_rdd.distinct().map(fingerprint).take(5)

[('gkz2313', 'GKZ2313'),
 ('44884', '44884'),
 ('pikine', 'PIKINE'),
 ('gmu4296', 'GMU4296'),
 ('gtd7184', 'GTD7184')]

In [17]:
# apply the fingerprint function to all plate_id values, and group the ones
# that have the same key
# mapValues(list) - makes the grouped values into a list
plate_id_rdd.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1). \
	mapValues(list). \
	collect()

[('2970cp', ['2970.CP', '2970CP']),
 ('ap717y', ['AP717Y', 'AP7!17Y']),
 ('xbgv20', ['XBGV20', 'XBG.V20']),
 ('47879mg', ['47879MG', '47879MG.']),
 ('849rzb', ['849RZB', '849RZB.']),
 ('12224mg', ['12224MG', '1222]4MG']),
 ('jhd0328', ['JHD0328', 'JHD0328.']),
 ('ab73725', ['AB.73725', 'AB73725']),
 ('88cs02', ['88CS02', '88C.S02']),
 ('l21687', ['L21687', 'L.21687']),
 ('na', ['NA', 'N/A']),
 ('64582md', ['64582MD.', '64582MD']),
 ('6786cx', ['6786.CX', '6786CX']),
 ('zxf293', ['ZXF293+', 'ZXF293']),
 ('u57afu', ['U57AFU', 'U57.AFU']),
 ('jnp981', ['JNP981', 'JNP981&']),
 ('41690ja', ['41690JA', '41690JA+']),
 ('xt549k', ['XT.549K', 'XT549K']),
 ('zgk7779', ['ZGK7779', 'ZGK.7779']),
 ('l08275', ['L08(275', 'L08275']),
 ('hkv4504', ['HKV4504', 'HKV!4504']),
 ('7', ['7!', '7']),
 ('ete3059', ['ETE3059+', 'ETE3059']),
 ('l21741', ['L.21741', 'L21741']),
 ('jcw0303', ['JCW0303`', 'JCW0303']),
 ('k90404', ['K90404', 'K.90404']),
 ('aj511c', ['AJ511C', 'AJ.511C']),
 ('hcv1327', ['HCV1327', 'HCV!1327']),
 ('24787jz', ['24787JZ', '24787,JZ']),
 ('fcz8588', ['FCZ8588', 'FCZ!8588']),
 ('smutty', ['SMUTTY+', 'SMUTTY']),
 ('1mdm', ['1MDM', '#1MDM']),
 ('ns', ['NS', 'N/S'])]

In [18]:
plate_id_rdd.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1).take(5)

[('2970cp', <pyspark.resultiterable.ResultIterable at 0x7f5765003580>),
 ('ap717y', <pyspark.resultiterable.ResultIterable at 0x7f57650035e0>),
 ('xbgv20', <pyspark.resultiterable.ResultIterable at 0x7f5765003640>),
 ('849rzb', <pyspark.resultiterable.ResultIterable at 0x7f5765003dc0>),
 ('ab73725', <pyspark.resultiterable.ResultIterable at 0x7f5765003e50>)]

In [19]:
# To determine a cluster should be merged or not, you can look more closely at the data.
# check the other attributes to determine if the two ids correspond to the same entity
parking_df.where((parking_df.plate_id == '2970CP') | \
	(parking_df.plate_id == '2970.CP')). \
	show()

+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+---------------+-----------------+-------------+------------+------------+
|summons_number|issue_date|violation_code|violation_county|violation_description|violation_location|violation_precinct|violation_time|time_first_observed|meter_number|issuer_code|issuer_command|issuer_precinct|issuing_agency|plate_id|plate_type|registration_state|    street_name|vehicle_body_type|vehicle_color|vehicle_make|vehicle_year|
+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+---------------+-----------------+-------------+------------+------------+
|    7081878969|2016-03-10|            48|              BX|         48-Bike Lane|                40|                40|         1019A|               null|        null|     358609|          T201|             40|             T|  2970CP|       COM|                CT|    Melrose Ave|             PICK|          TAN|        FORD|           0|
|    7191964236|2016-03-04|            38|              BX| 38-Failure to Dis...|                47|                47|         0254P|               null|        null|     363080|          T201|             47|             T|  2970CP|       999|                CT|      Boston Rd|             PICK|        WHITE|        FORD|           0|
|    7417510589|2016-03-16|            46|              BX| 46B-Double Parkin...|                44|                44|         0356P|              1200P|        null|     361796|          T201|             44|             T|  2970CP|       CMB|                CT|Grand Concourse|              VAN|        WHITE|        FORD|           0|
|    7554375489|2016-03-08|            46|              BX| 46B-Double Parkin...|                45|                45|         1055A|              1050A|        null|     362268|          T201|             45|             T| 2970.CP|       CMB|                CT|  E Tremont Ave|             PICK|        WHITE|        FORD|           0|
|    7637915049|2016-03-15|            37|              BX| 37-Expired Muni M...|                43|                43|         0421P|              0415P|    217-3200|     363079|          T201|             43|             T|  2970CP|       999|                CT|        Wood Rd|             PICK|        WHITE|        FORD|           0|
+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+---------------+-----------------+-------------+------------+------------+

In [20]:
# clustering on the street_name column.
street_name_rdd = parking_df.select('street_name').distinct().rdd.flatMap(list).filter(lambda x: x!=None)

In [21]:
street_name_rdd.take(3)

['Mount Hope Pl', 'Carver Loop', 'Rombouts Ave']

In [22]:
# apply the fingerprint to all street addresses
#[('court square', 'COURT SQUARE'),
# ('31 e st', 'E 31 ST'),
# ('island randalls', 'RANDALLS ISLAND'),
# ('45th e street', 'E 45TH STREET'),
# ('ave sheridan', 'SHERIDAN AVE')]

In [23]:
street_name_rdd.distinct().map(fingerprint).first()

('235 nb st w', 'N/B W 235 ST')

In [24]:
street_name_rdd.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1). \
	mapValues(list). \
	collect()

[('plains rd white', ['White Plains Rd', 'WHITE PLAINS RD']),
 ('ave riverdale', ['Riverdale Ave', 'RIVERDALE AVE']),
 ('eldert ln', ['ELDERT LN', 'Eldert Ln']),
 ('ave chittenden', ['CHITTENDEN AVE', 'Chittenden Ave']),
 ('5 avenue', ['5 AVENUE', 'AVENUE 5']),
 ('184th st', ['184th St', '184TH ST']),
 ('ave ryder', ['Ryder Ave', 'RYDER AVE']),
 ('ave foothill', ['Foothill Ave', 'FOOTHILL AVE']),
 ('ave lott', ['Lott Ave', 'LOTT AVE']),
 ('marine way', ['Marine Way', 'MARINE WAY']),
 ('astor pl', ['Astor Pl', 'ASTOR PL']),
 ('37th ave', ['37TH AVE', '37th Ave']),
 ('clawson st', ['Clawson St', 'CLAWSON ST']),
 ('ave shepard', ['SHEPARD AVE', 'Shepard Ave']),
 ('gramercy park', ['Gramercy Park', 'GRAMERCY PARK']),
 ('degraw st', ['Degraw St', 'DEGRAW ST']),
 ('ave glenmore', ['Glenmore Ave', 'GLENMORE AVE']),
 ('ave neptune', ['Neptune Ave', 'NEPTUNE  AVE', 'NEPTUNE AVE']),
 ('hartman ln', ['HARTMAN LN', 'Hartman Ln']),
 ('7 arr jfkia terminal', ['TERMINAL 7 JFKIA ARR', 'JFKIA TERMINAL 7 ARR']),
 ('leavitt st', ['Leavitt St', 'LEAVITT ST']),
 ('market ns slip', ['N/S MARKET SLIP', 'N/S MARKET  SLIP']),
 ('dongan st', ['Dongan St', 'DONGAN ST']),
 ('richardson st', ['RICHARDSON ST', 'Richardson St']),
 ('oval reservoir', ['Reservoir Oval', 'RESERVOIR OVAL']),
 ('156th st w', ['W 156TH ST', 'W 156th St']),
 ('avenue x', ['AVENUE X', 'Avenue X']),
 ('college manhattan pk', ['MANHATTAN COLLEGE PK', 'Manhattan College Pk']),
 ('ave co ne third', ['NE C/O THIRD AVE', 'N/E C/O THIRD AVE']),
 ('fleet st', ['Fleet St', 'FLEET ST']),
 ('120th e st', ['E 120TH ST', 'E 120th St']),
 ('5th ave', ['5th Ave', '5TH  AVE', '5TH AVE']),
 ('st woodhull', ['WOODHULL ST', 'Woodhull St']),
 ('spencer st', ['SPENCER ST', 'Spencer St']),
 ('hwy kings', ['Kings Hwy', 'KINGS HWY', 'KINGS .HWY']),
 ('bedford blvd park', ['BEDFORD PARK BLVD', 'Bedford Park Blvd']),
 ('albemarle rd', ['Albemarle Rd', 'ALBEMARLE RD']),
 ('ave byron', ['Byron Ave', 'BYRON AVE']),
 ('ave garfield', ['Garfield Ave', 'GARFIELD AVE']),
 ('st worth', ['WORTH ST', 'Worth St']),
 ('55 e st', ['E 55 ST', 'E .55 ST']),
 ('96th e st', ['E 96TH ST', 'E 96th St', 'E 96TH  ST']),
 ('ave puritan', ['Puritan Ave', 'PURITAN AVE']),
 ('hemlock st', ['Hemlock St', 'HEMLOCK  ST', 'HEMLOCK ST']),
 ('ave pleasant', ['PLEASANT AVE', 'Pleasant Ave']),
 ('bush st', ['Bush St', 'BUSH ST']),
 ('pl thornton', ['THORNTON PL', 'Thornton Pl']),
 ('ave burnside w', ['W BURNSIDE AVE', 'W Burnside Ave']),
 ('st stockholm', ['Stockholm St', 'STOCKHOLM ST', 'STOCKHOLM  ST']),
 ('amboy st', ['Amboy St', 'AMBOY ST']),
 ('223rd pl', ['223rd Pl', '223RD PL']),
 ('ave lasalle', ['Lasalle Ave', 'LASALLE AVE']),
 ('sagamore st', ['SAGAMORE ST', 'Sagamore St']),
 ('amethyst st', ['AMETHYST ST', 'Amethyst St']),
 ('kosciusko st', ['Kosciusko St', 'KOSCIUSKO ST']),
 ('selfridge st', ['Selfridge St', 'SELFRIDGE ST']),
 ('middletown rd', ['MIDDLETOWN RD', 'Middletown Rd']),
 ('berry st', ['BERRY ST', 'Berry St']),
 ('pelham pkwy so', ['PELHAM PKWY  SO', 'PELHAM PKWY SO', 'PELHAM  PKWY SO']),
 ('carroll pl', ['CARROLL PL', 'CARROLL  PL', 'Carroll Pl']),
 ('st truxton', ['Truxton St', 'TRUXTON ST']),
 ('fuller pl', ['FULLER PL', 'Fuller Pl']),
 ('ave summit', ['SUMMIT  AVE', 'Summit Ave', 'SUMMIT AVE']),
 ('40th ave', ['40TH AVE', '40th Ave']),
 ('164th st', ['164TH ST', '164th St']),
 ('expy harding horace', ['HORACE HARDING EXPY', 'Horace Harding Expy']),
 ('105th e st', ['E 105TH ST', 'E 105th St']),
 ('102 e st', ['E 102  ST', 'E 102 ST', 'E .102 ST']),
 ('corporal st stone', ['CORPORAL STONE ST', 'Corporal Stone St']),
 ('15th brighton st', ['BRIGHTON 15TH ST', 'Brighton 15th St']),
 ('ave st theresa', ['St Theresa Ave', 'ST THERESA AVE']),
 ('st waterbury', ['Waterbury St', 'WATERBURY ST']),
 ('ave patchen', ['PATCHEN AVE', 'Patchen Ave']),
 ('grand st', ['GRAND ST', 'Grand St']),
 ('ave wilder', ['Wilder Ave', 'WILDER AVE']),
 ('nicholas st ter', ['St Nicholas Ter', 'ST NICHOLAS TER']),
 ('lorimer st', ['Lorimer St', 'LORIMER  ST', 'LORIMER ST']),
 ('campus rd', ['Campus Rd', 'CAMPUS RD']),
 ('astoria blvd n', ['ASTORIA BLVD  N', 'ASTORIA BLVD N']),
 ('st varet', ['Varet St', 'VARET ST']),
 ('ave dixon', ['DIXON AVE', 'Dixon Ave']),
 ('n oxford st', ['N Oxford St', 'N OXFORD ST']),
 ('ave muliner', ['Muliner Ave', 'MULINER AVE']),
 ('ave cedar', ['CEDAR  AVE', 'CEDAR AVE', 'Cedar Ave']),
 ('osborn st', ['Osborn St', 'OSBORN ST']),
 ('62nd dr', ['62ND DR', '62nd Dr']),
 ('ave sprague', ['Sprague Ave', 'SPRAGUE AVE']),
 ('henry n st', ['N Henry St', 'N HENRY ST']),
 ('23rd st w', ['W 23RD ST', 'W 23rd St']),
 ('bronx cross expy', ['CROSS BRONX EXPY', 'Cross Bronx Expy']),
 ('22nd beach st', ['BEACH 22ND ST', 'Beach 22nd St']),
 ('ave co franklin nw', ['NW C/O FRANKLIN AVE', 'N/W C/O FRANKLIN AVE']),
 ('noble st', ['Noble St', 'NOBLE ST']),
 ('krier pl', ['Krier Pl', 'KRIER PL']),
 ('44th e st', ['E 44TH ST', 'E 44th St']),
 ('126th st', ['126TH ST', '126th St']),
 ('ave nagle', ['Nagle Ave', 'NAGLE AVE']),
 ('127th st', ['127TH ST', '127th St']),
 ('eagle st', ['Eagle St', 'EAGLE ST']),
 ('ave close', ['CLOSE AVE', 'Close Ave']),
 ('172nd e st', ['E 172nd St', 'E 172ND ST']),
 ('lyman pl', ['LYMAN PL', 'Lyman Pl']),
 ('32nd st', ['32ND ST', '32nd St']),
 ('cross st', ['CROSS ST', 'Cross St']),
 ('9th ave', ['9th Ave', '9TH AVE', '9TH  AVE']),
 ('fernside pl', ['Fernside Pl', 'FERNSIDE PL']),
 ('ave delaware', ['Delaware Ave', 'DELAWARE AVE']),
 ('charlton st', ['CHARLTON ST', 'Charlton St']),
 ('ave thatford', ['THATFORD AVE', 'Thatford Ave']),
 ('ave coolidge', ['COOLIDGE AVE', 'Coolidge Ave']),
 ('hancock st', ['HANCOCK ST', 'Hancock St']),
 ('167 w', ['W 167', 'W .167']),
 ('ave willett', ['WILLETT AVE', 'Willett Ave']),
 ('blvd highland', ['Highland Blvd', 'HIGHLAND BLVD']),
 ('juniper rd valley', ['Juniper Valley Rd', 'JUNIPER VALLEY RD']),
 ('lincoln st', ['Lincoln St', 'LINCOLN ST']),
 ('ave harper', ['HARPER AVE', 'Harper Ave']),
 ('crotona n park', ['CROTONA  PARK N', 'CROTONA PARK N']),
 ('ave vireo', ['Vireo Ave', 'VIREO AVE']),
 ('3rd paerdegat st', ['Paerdegat 3rd St', 'PAERDEGAT 3RD ST']),
 ('6th n st', ['N 6th St', 'N 6TH ST']),
 ('ave plimpton', ['Plimpton Ave', 'PLIMPTON AVE']),
 ('st wall', ['WALL ST', 'Wall St']),
 ('51st e st', ['E 51st St', 'E 51ST ST']),
 ('ave fort george', ['FORT GEORGE AVE', 'Fort George Ave']),
 ('oxford s st', ['S OXFORD ST', 'S Oxford St']),
 ('5th st', ['5TH ST', '5th St']),
 ('ave schieffelin', ['Schieffelin Ave', 'SCHIEFFELIN AVE']),
 ('harman st', ['HARMAN ST', 'Harman St']),
 ('ave putnam', ['Putnam Ave', 'PUTNAM AVE']),
 ('197th e st', ['E 197th St', 'E 197TH ST']),
 ('cumberland st', ['CUMBERLAND ST', 'Cumberland St']),
 ('mitchell pl', ['Mitchell Pl', 'MITCHELL PL']),
 ('alstyne ave', ['ALSTYNE  AVE', 'Alstyne Ave', 'ALSTYNE AVE']),
 ('ave laurel', ['Laurel Ave', 'LAUREL AVE']),
 ('50th st w', ['W 50th St', 'W 50TH ST']),
 ('102nd e st', ['E 102ND ST', 'E 102nd St']),
 ('ave bruner', ['Bruner Ave', 'BRUNER AVE']),
 ('lowerre pl', ['LOWERRE PL', 'Lowerre Pl']),
 ('ave willis', ['WILLIS AVE', 'Willis Ave']),
 ('ave strang', ['STRANG AVE', 'Strang Ave']),
 ('12th n st', ['N 12th St', 'N 12TH ST']),
 ('barclay st', ['Barclay St', 'BARCLAY ST']),
 ('200th st', ['200TH ST', '200th St']),
 ('monaco pl', ['MONACO PL', 'Monaco Pl']),
 ('41st rd', ['41st Rd', '41ST RD']),
 ('admiral ave', ['ADMIRAL AVE', 'Admiral Ave']),
 ('ave madison nb', ['N/B MADISON AVE', 'MADISON AVE (N/B) @']),
 ('hendrix st', ['Hendrix St', 'HENDRIX ST']),
 ('243rd st', ['243rd St', '243RD ST']),
 ('ford st', ['Ford St', 'FORD ST']),
 ('ellery st', ['ELLERY ST', 'Ellery St']),
 ('91st ave', ['91ST AVE', '91st Ave']),
 ('st william', ['WILLIAM ST', 'WILLIAM  ST', 'William St']),
 ('briar pl', ['BRIAR PL', 'Briar Pl']),
 ('malta st', ['Malta St', 'MALTA ST']),
 ('ave starling', ['STARLING AVE', 'Starling Ave']),
 ('ave reid', ['Reid Ave', 'REID AVE']),
 ('ave stratford', ['Stratford Ave', 'STRATFORD AVE']),
 ('ave waverly', ['WAVERLY AVE', 'Waverly Ave']),
 ('north st', ['North St', 'NORTH ST']),
 ('hall st', ['Hall St', 'HALL ST']),
 ('ave longfellow', ['LONGFELLOW AVE', 'Longfellow Ave']),
 ('autumn ave', ['AUTUMN AVE', 'AUTUMN  AVE', 'Autumn Ave']),
 ('159 st', ['159 ST', '159  ST']),
 ('ave cayuga', ['CAYUGA AVE', 'Cayuga Ave']),
 ('ave lincoln', ['LINCOLN AVE', 'Lincoln Ave']),
 ('ave soundview', ['SOUNDVIEW AVE', 'Soundview Ave']),
 ('127 co ne st', ['NE C/O 127 ST', 'N/E C/O 127 ST']),
 ('concourse grand sb',
  ['GRAND CONCOURSE (S/B', 'SB GRAND CONCOURSE.', 'SB GRAND CONCOURSE @']),
 ('james st', ['ST JAMES ST', 'James St', 'ST JAMES']),
 ('ave n portland', ['N Portland Ave', 'N PORTLAND AVE']),
 ('ave flushing', ['FLUSHING AVE', 'Flushing Ave']),
 ('bellamy loop', ['Bellamy Loop', 'BELLAMY LOOP', 'BELLAMY LOOP.']),
 ('hoffman st', ['Hoffman St', 'HOFFMAN ST']),
 ('crotona pl', ['CROTONA PL', 'Crotona Pl']),
 ('ainslie st', ['Ainslie St', 'AINSLIE ST']),
 ('23rd st', ['23rd St', '23RD ST']),
 ('dorchester rd', ['DORCHESTER RD', 'Dorchester Rd']),
 ('ave vedder', ['VEDDER AVE', 'Vedder Ave']),
 ('saunders st', ['SAUNDERS ST', 'Saunders St']),
 ('blvd farmers', ['Farmers Blvd', 'FARMERS BLVD']),
 ('167th e st', ['E 167th St', 'E 167TH ST']),
 ('ave throop', ['THROOP AVE', 'Throop Ave']),
 ('ave varick', ['VARICK AVE', 'Varick Ave']),
 ('lefferts pl', ['LEFFERTS PL', 'Lefferts Pl']),
 ('181st e st', ['E 181ST ST', 'E 181st St']),
 ('ave townsend', ['Townsend Ave', 'TOWNSEND AVE']),
 ('danforth st', ['Danforth St', 'DANFORTH ST']),
 ('179th st w', ['W 179TH ST', 'W 179th St']),
 ('11th st', ['11th St', '11TH ST']),
 ('100th beach st', ['BEACH 100TH ST', 'Beach 100th St']),
 ('179th e st', ['E 179TH ST', 'E 179th St']),
 ('64th ave', ['64TH AVE', '64th Ave']),
 ('bay blvd cross', ['CROSS BAY BLVD', 'Cross Bay Blvd']),
 ('penrod st', ['PENROD ST', 'Penrod St']),
 ('147th st', ['147th St', '147TH ST']),
 ('ave pitkin', ['Pitkin Ave', 'PITKIN AVE']),
 ('ave bath', ['BATH  AVE', 'Bath Ave', 'BATH AVE']),
 ('ave homestead', ['Homestead Ave', 'HOMESTEAD AVE']),
 ('blvd northern', ['NORTHERN BLVD', 'Northern Blvd']),
 ('4th st w', ['W 4th St', 'W 4TH ST']),
 ('94 e st', ['E .94 ST', 'E 94 ST']),
 ('irwin st', ['IRWIN ST', 'Irwin St']),
 ('ave stillwell', ['Stillwell Ave', 'STILLWELL AVE']),
 ('pl raleigh', ['Raleigh Pl', 'RALEIGH PL']),
 ('44 st w', ['W 44 ST', 'W  44 ST']),
 ('burnet pl', ['Burnet Pl', 'BURNET PL']),
 ('ave pettit', ['Pettit Ave', 'PETTIT AVE']),
 ('noll st', ['NOLL ST', 'NOLL  ST', 'Noll St']),
 ('calloway st', ['CALLOWAY ST', 'Calloway St']),
 ('marks pl st', ['ST MARKS PL', 'St Marks Pl']),
 ('ave decatur',
  ['DECATUR AVE', 'DECATUR AVE .', 'DECATUR  AVE', 'Decatur Ave']),
 ('ave underhill', ['UNDERHILL AVE', 'Underhill Ave']),
 ('oceania st', ['Oceania St', 'OCEANIA ST']),
 ('72nd st w', ['W 72nd St', 'W 72ND ST']),
 ('93rd e st', ['E 93rd St', 'E 93RD ST']),
 ('21st ave', ['21ST AVE', '21st Ave']),
 ('dr garland', ['Garland Dr', 'GARLAND DR']),
 ('ave mcclellan', ['MCCLELLAN AVE', 'Mcclellan Ave.']),
 ('north pelham pkwy', ['Pelham  Pkwy North', 'PELHAM PKWY NORTH']),
 ('rd woodrow', ['Woodrow Rd', 'WOODROW RD']),
 ('ave plainview', ['PLAINVIEW AVE', 'Plainview Ave']),
 ('100th e st', ['E 100th St', 'E 100TH ST']),
 ('pl sterling', ['Sterling Pl', 'STERLING PL', 'STERLING  PL']),
 ('jefferson st', ['Jefferson St', 'JEFFERSON ST']),
 ('albany st', ['Albany St', 'ALBANY ST', 'ALBANY  ST']),
 ('ave city island', ['CITY ISLAND AVE', 'City Island Ave']),
 ('33rd e st', ['E 33RD ST', 'E 33rd St']),
 ('ave mcgraw', ['MCGRAW AVE', 'McGraw Ave']),
 ('129 co st sw', ['S/W C/O 129 ST', 'SW C/O 129 ST']),
 ('ave seton', ['SETON AVE', 'Seton Ave']),
 ('neilson st', ['NEILSON  ST', 'NEILSON ST', 'Neilson St']),
 ('cedar st', ['CEDAR ST', 'Cedar St']),
 ('bronx east park', ['Bronx Park East', 'BRONX PARK EAST']),
 ('monument walk', ['Monument Walk', 'MONUMENT WALK']),
 ('ave cromwell', ['Cromwell Ave', 'CROMWELL AVE']),
 ('ave fort washington', ['Fort Washington Ave', 'FORT WASHINGTON AVE']),
 ('ave newport', ['Newport Ave', 'NEWPORT AVE']),
 ('ave blossom', ['BLOSSOM AVE', 'Blossom Ave']),
 ('ave bailey', ['Bailey Ave', 'BAILEY AVE']),
 ('ave cherry', ['Cherry Ave', 'CHERRY AVE']),
 ('ave zerega', ['Zerega Ave', 'ZEREGA AVE']),
 ('park prospect sw',
  ['PROSPECT PARK S/W', 'PROSPECT PARK SW', 'Prospect Park SW']),
 ('blvd queens', ['QUEE,NS BLVD', 'QUEENS BLVD', 'Queens Blvd']),
 ('av coney es island', ['E/S CONEY ISLAND AV', 'E/S  CONEY ISLAND AV']),
 ('st whittier', ['WHITTIER  ST', 'WHITTIER ST', 'Whittier St']),
 ('baisley blvd', ['BAISLEY BLVD', 'Baisley Blvd']),
 ('88th e st', ['E 88th St', 'E 88TH ST']),
 ('73rd st w', ['W 73RD ST', 'W 73rd St']),
 ('24th st', ['24TH ST', '24th St']),
 ('79th st', ['79TH ST', '79th St']),
 ('duncan st', ['DUNCAN ST', 'Duncan St']),
 ('208th e st', ['E 208TH ST', 'E 208th St']),
 ('blvd brewer guy r', ['Guy R Brewer Blvd', 'GUY R BREWER BLVD']),
 ('50th e st', ['E 50TH ST', 'E 50th St']),
 ('ave claremont', ['CLAREMONT AVE', 'Claremont Ave']),
 ('24th e st', ['E 24th St', 'E 24TH ST']),
 ('ave metropolitan', ['METROPOLITAN AVE', 'Metropolitan Ave']),
 ('ave conduit s', ['S Conduit Ave', 'S CONDUIT AVE']),
 ('ave wellman', ['WELLMAN AVE', 'Wellman Ave']),
 ('haring st', ['HARING ST', 'Haring St']),
 ('55th st', ['55TH ST', '55th St']),
 ('125th st w', ['W 125TH ST', 'W 125th St']),
 ('ave jerome', ['Jerome Ave', 'JEROME  AVE', 'JEROME AVE']),
 ('st stanton', ['Stanton St', 'STANTON ST']),
 ('121st st w', ['W 121st St', 'W 121ST ST']),
 ('45th e st', ['E 45TH ST', 'E 45th St']),
 ('beaver st', ['BEAVER ST', 'Beaver St']),
 ('hill rd richmond',
  ['Richmond Hill Rd', 'RICHMOND HILL  RD', 'RICHMOND HILL RD']),
 ('newel st', ['NEWEL ST', 'Newel St']),
 ('st wright', ['WRIGHT ST', 'Wright St']),
 ('co maran pl sw', ['S/W C/O MARAN PL', 'SW C/O MARAN PL']),
 ('195th e st', ['E 195TH ST', 'E 195th St']),
 ('ave pinehurst', ['PINEHURST AVE', 'Pinehurst Ave']),
 ('ave crosby', ['Crosby Ave', 'CROSBY AVE']),
 ('spring st', ['SPRING ST', 'Spring St']),
 ('beverley rd', ['BEVERLEY RD', 'Beverley Rd']),
 ('ave hollers', ['Hollers Ave', 'HOLLERS AVE']),
 ('blvd nb woodhaven', ['WOODHAVEN BLVD (N/B)', 'NB WOODHAVEN BLVD @']),
 ('st willoughby', ['Willoughby St', 'WILLOUGHBY ST']),
 ('east park terrace', ['PARK TERRACE EAST', 'Park Terrace East']),
 ('125 st w', ['W 125 ST', 'W 125  ST']),
 ('blvd cabrini', ['CABRINI  BLVD', 'Cabrini Blvd', 'CABRINI BLVD']),
 ('3rd pl', ['3RD PL', '3rd Pl']),
 ('ave c', ['AVE C', 'AVE  C']),
 ('avenue j', ['AVENUE J', 'Avenue J']),
 ('66th dr', ['66th Dr', '66TH DR']),
 ('38th st', ['38TH ST', '38th St']),
 ('fairview pl', ['FAIRVIEW PL', 'Fairview Pl']),
 ('carmel mount pl', ['Mount Carmel Pl', 'MOUNT CARMEL PL']),
 ('amador st', ['Amador St', 'AMADOR ST']),
 ('ave lafayette', ['LAFAYETTE  AVE', 'Lafayette Ave', 'LAFAYETTE AVE']),
 ('57th e st', ['E 57th St', 'E 57TH ST']),
 ('fulton st', ['FULTON ST', 'Fulton St', 'FULTON  ST']),
 ('7 e st', ['E  7 ST', 'E 7 ST']),
 ('brunt st van', ['Van Brunt St', 'VAN BRUNT ST']),
 ('67th e st', ['E 67TH ST', 'E 67th St']),
 ('boyland st thomas', ['THOMAS  BOYLAND ST', 'THOMAS BOYLAND ST']),
 ('havenwood rd', ['HAVENWOOD RD', 'Havenwood Rd']),
 ('ave woodruff', ['WOODRUFF AVE', 'Woodruff Ave']),
 ('ave major', ['MAJOR AVE', 'Major Ave']),
 ('178 e st', ['E 178 ST', 'E  178 ST']),
 ('moffat st', ['MOFFAT ST', 'Moffat St']),
 ('central grand pkwy', ['GRAND CENTRAL  PKWY', 'GRAND CENTRAL PKWY']),
 ('ave brush', ['BRUSH AVE', 'Brush Ave']),
 ('ave hill marble',
  ['Marble Hill Ave', 'MARBLE HILL AVE.', 'MARBLE HILL AVE']),
 ('ave lurting', ['Lurting Ave', 'LURTING AVE']),
 ('86th ave', ['86th Ave', '86TH AVE']),
 ('162nd e st', ['E 162ND ST', 'E 162nd St']),
 ('st withers', ['WITHERS ST', 'Withers St']),
 ('pl washington', ['Washington Pl', 'WASHINGTON PL']),
 ('ave fountain', ['FOUNTAIN AVE', 'Fountain Ave']),
 ('pl rockwell', ['Rockwell Pl', 'ROCKWELL PL']),
 ('ct woodhaven', ['Woodhaven Ct', 'WOODHAVEN CT']),
 ('mazeau st', ['MAZEAU ST', 'Mazeau St']),
 ('bristow st', ['Bristow St', 'BRISTOW ST']),
 ('35th st w', ['W 35TH ST', 'W 35th St']),
 ('111th st', ['111TH ST', '111th St']),
 ('ave concord', ['CONCORD AVE', 'Concord Ave']),
 ('ave emmons', ['Emmons Ave', 'EMMONS AVE']),
 ('68th st', ['68TH ST', '68th St']),
 ('perry st', ['PERRY ST', 'Perry St']),
 ('av ocean', ['OCEAN AV .', 'OCEAN AV']),
 ('pike slip', ['PIKE SLIP', 'Pike Slip']),
 ('ave cauldwell', ['CAULDWELL AVE', 'Cauldwell Ave']),
 ('pineapple st', ['Pineapple St', 'PINEAPPLE ST']),
 ('seabring st', ['Seabring St', 'SEABRING ST']),
 ('lake rd silver', ['SILVER LAKE RD', 'Silver Lake Rd']),
 ('apex pl', ['APEX PL', 'Apex Pl']),
 ('rd shell', ['Shell Rd', 'SHELL RD']),
 ('1st st', ['1st St', '1ST ST']),
 ('ave engert', ['ENGERT AVE', 'Engert Ave']),
 ('28th ave', ['28th Ave', '28TH AVE']),
 ('218th e st', ['E 218th St', 'E 218TH ST']),
 ('ave remsen', ['Remsen Ave', 'REMSEN AVE']),
 ('19th st w', ['W 19th St', 'W 19TH ST']),
 ('72nd e st', ['E 72nd St', 'E 72ND ST']),
 ('ave roebling', ['Roebling Ave', 'ROEBLING AVE']),
 ('cleveland st', ['CLEVELAND ST', 'Cleveland St']),
 ('elliott n pl', ['N ELLIOTT PL', 'N Elliott Pl']),
 ('ave harrison', ['HARRISON AVE', 'Harrison Ave']),
 ('ave independence', ['Independence Ave', 'INDEPENDENCE AVE']),
 ('18 ave co se', ['S/E C/O 18 AVE', 'SE C/O 18 AVE']),
 ('ave nelson', ['NELSON  AVE', 'Nelson Ave', 'NELSON AVE']),
 ('ave k', ['AVE  K', 'AVE K']),
 ('ave wilcox', ['Wilcox Ave', 'WILCOX AVE']),
 ('carroll st', ['CARROLL ST', 'CARROLL  ST', 'Carroll St']),
 ('indian rd', ['Indian Rd', 'INDIAN RD']),
 ('heyward st', ['Heyward St', 'HEYWARD ST']),
 ('pl royce', ['ROYCE PL', 'Royce Pl']),
 ('ave bradley', ['BRADLEY AVE', 'Bradley Ave']),
 ('ave brighton', ['BRIGHTON AVE', 'Brighton Ave']),
 ('ave river', ['River Ave', 'RIVER  AVE', 'RIVER AVE']),
 ('172nd st w', ['W 172nd St', 'W 172ND ST']),
 ('33rd st', ['33rd St', '33RD ST']),
 ('ave melbourne', ['MELBOURNE AVE', 'Melbourne Ave']),
 ('70th st', ['70th St', '70TH ST']),
 ('147th st w', ['W 147th St', 'W 147TH ST']),
 ('76th st', ['76TH ST', '76th St']),
 ('78th st', ['78TH ST', '78th St']),
 ('blvd empire', ['EMPIRE BLVD .', 'Empire Blvd', 'EMPIRE BLVD']),
 ('24th ave', ['24TH AVE', '24th Ave']),
 ('187th e st', ['E 187TH ST', 'E 187th St']),
 ('orchard st', ['Orchard St', 'ORCHARD ST']),
 ('st state', ['State St', 'STATE ST']),
 ('18 st west', ['WEST 18 ST', 'WEST 18 ST+']),
 ('aguilar ave', ['AGUILAR AVE', 'Aguilar Ave']),
 ('40th st w', ['W 40th St', 'W 40TH ST']),
 ('ave depew', ['Depew Ave', 'DEPEW AVE']),
 ('avenue u', ['Avenue U', 'AVENUE U']),
 ('avenue i', ['Avenue I', 'AVENUE I']),
 ('pilot st', ['Pilot St', 'PILOT ST']),
 ('108th beach st', ['Beach 108th St', 'BEACH 108TH ST']),
 ('47th bay st', ['BAY 47TH ST', 'Bay 47th St']),
 ('kingsbridge ter', ['KINGSBRIDGE TER', 'Kingsbridge Ter']),
 ('ave ovington', ['Ovington Ave', 'OVINGTON  AVE', 'OVINGTON AVE']),
 ('ave norton', ['Norton Ave', 'NORTON AVE']),
 ('ave dongan', ['Dongan Ave', 'DONGAN AVE']),
 ('ave sampson', ['SAMPSON AVE', 'Sampson Ave']),
 ('ave ft washington', ['FT WASHINGTON AVE', 'Ft Washington Ave']),
 ('ave burchell', ['BURCHELL  AVE', 'Burchell Ave']),
 ('108 es st', ['E/S 108 ST', 'ES 108 ST']),
 ('84th rd', ['84th Rd', '84TH RD']),
 ('60th pl', ['60th Pl', '60TH PL']),
 ('atlantic ave co nw', ['NW C/O ATLANTIC AVE', 'N/W C/O ATLANTIC AVE']),
 ('ave bergen', ['Bergen Ave', 'BERGEN AVE']),
 ('ave tompkins', ['TOMPKINS AVE', 'Tompkins Ave']),
 ('locust st', ['Locust St', 'LOCUST ST']),
 ('118th e st', ['E 118th St', 'E 118TH ST']),
 ('42 st w', ['W 42 ST', 'W .42 ST']),
 ('st waltham', ['Waltham St', 'WALTHAM ST']),
 ('ave wilson', ['Wilson Ave', 'WILSON AVE.', 'WILSON AVE', 'WILSON  AVE']),
 ('ave bartow', ['BARTOW AVE', 'Bartow Ave']),
 ('57th st w', ['W 57TH ST', 'W 57th St']),
 ('morris st', ['Morris St', 'MORRIS ST']),

In [25]:
# count street_name after clustering
street_name_rdd.count()

22893

In [26]:
# filter the result by only taking the keys
street_name_rdd.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1).take(5)

[('127th st', <pyspark.resultiterable.ResultIterable at 0x7f5764efa700>),
 ('5 avenue', <pyspark.resultiterable.ResultIterable at 0x7f5764efa790>),
 ('197th e st', <pyspark.resultiterable.ResultIterable at 0x7f5764efa820>),
 ('mitchell pl', <pyspark.resultiterable.ResultIterable at 0x7f5764efa8e0>),
 ('cumberland st', <pyspark.resultiterable.ResultIterable at 0x7f5764efa940>)]

In [27]:
# To determine a cluster should be merged or not, look more closely at the data.
# check the other attributes to determine if the two ids correspond to the same entity
parking_df.where((parking_df.street_name == 'DYER AVE') | \
	(parking_df.street_name == 'Dyer Ave')). \
	show()

+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+
|summons_number|issue_date|violation_code|violation_county|violation_description|violation_location|violation_precinct|violation_time|time_first_observed|meter_number|issuer_code|issuer_command|issuer_precinct|issuing_agency|plate_id|plate_type|registration_state|street_name|vehicle_body_type|vehicle_color|vehicle_make|vehicle_year|
+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+
|    1406103068|2016-03-16|            21|              BX|                 null|                47|                47|         0736A|               null|           -|     606956|          BX04|              0|             S| HAY5906|       PAS|                NY|   DYER AVE|             SUBN|        SILVR|        JEEP|        2012|
|    1406103070|2016-03-16|            21|              BX|                 null|                47|                47|         0737A|               null|           -|     606956|          BX04|              0|             S| GXW7376|       PAS|                NY|   DYER AVE|             SUBN|         BLUE|       HONDA|        2004|
|    7879396299|2016-03-29|            53|              NY|       53-Safety Zone|                14|                14|         0427P|               null|        null|     354181|          T502|             14|             T| FHZ7367|       PAS|                NY|   Dyer Ave|             4DSD|           WH|       ACURA|        2002|
+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+

In [28]:
# count result after clustering
street_name_rdd.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1).count()

2756

# 1. Entity Resolution

In [29]:
# entity resolution
# make text consistent
# make everything lowercase and to filter out punctuation
stname_normalized = street_name_rdd.map(\
                                        lambda x: ' '.join(str(x).strip().lower().translate(str.maketrans('', '', string.punctuation)).split()))

In [30]:
stname_normalized.take(10)

['court square',
 'e 31 st',
 'randalls island',
 'e 45th street',
 'sheridan ave',
 'nb 87 st',
 'roebling ave',
 'w 110 st',
 'co 129 st',
 'fernside pl']

In [31]:
# apply clustering again to normalized street name data
stname_normalized.map(fingerprint).first()

('court square', 'court square')

In [32]:
stname_normalized.map(fingerprint).take(10)

[('hope mount pl', 'mount hope pl'),
 ('carver loop', 'carver loop'),
 ('ave rombouts', 'rombouts ave'),
 ('ave monticello', 'monticello ave'),
 ('242nd st', '242nd st'),
 ('bessemer st', 'bessemer st'),
 ('56th rd', '56th rd'),
 ('astor pl', 'astor pl'),
 ('hamilton ter', 'hamilton ter'),
 ('rd victor', 'victor rd')]

In [33]:
stname_normalized.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1). \
	mapValues(list). \
	collect()

[('5 avenue', ['5 avenue', 'avenue 5']),
 ('ave madison nb', ['madison ave nb', 'nb madison ave']),
 ('7 arr jfkia terminal', ['terminal 7 jfkia arr', 'jfkia terminal 7 arr']),
 ('james st', ['james st', 'st james', 'st james st']),
 ('concourse grand sb', ['grand concourse sb', 'sb grand concourse']),
 ('blvd nb woodhaven', ['woodhaven blvd nb', 'nb woodhaven blvd']),
 ('st w41', ['w41 st', 'w41 st st']),
 ('ave h', ['ave h', 'h ave']),
 ('nicholas st', ['nicholas st', 'st nicholas']),
 ('14 ave co ne', ['ne co 14 ave', 'co ne 14 ave']),
 ('church st', ['st church st', 'church st']),
 ('101 e st', ['e 101 st', 'e 101 st st']),
 ('25 86 ave io st', ['25 ave io 86 st', '86 st io 25 ave']),
 ('main ny st', ['main st ny ny', 'main st ny']),
 ('51 e st', ['e 51 st st', 'e 51 st']),
 ('91 st west', ['west 91 st', 'west 91 st st']),
 ('81 st w', ['w 81 st st', 'w 81 st']),
 ('co marys st', ['co st marys st', 'co st marys']),
 ('blvd linden wb', ['wb linden blvd', 'linden blvd wb']),
 ('7 ave', ['ave 7', '7 ave']),
 ('mary st', ['mary st', 'st mary st']),
 ('d lga terminal', ['lga terminal d', 'terminal d lga']),
 ('concourse grand nb', ['nb grand concourse', 'grand concourse nb']),
 ('johns st', ['johns st', 'st johns', 'st johns st']),
 ('71 st', ['71 st st', '71 st']),
 ('edwards ne st', ['ne st edwards st', 'ne edwards st']),
 ('edwards st', ['st edwards', 'edwards st', 'st edwards st']),
 ('5 e', ['e 5', '5 e']),
 ('ave', ['ave', 'ave ave']),
 ('lawrence st', ['lawrence st', 'st lawrence']),
 ('10044 main ny st', ['main st ny ny 10044', 'main st ny 10044']),
 ('111 e st', ['e 111 st st', 'e 111 st']),
 ('blvd malcolm ws x', ['ws malcolm blvd x', 'ws malcolm x blvd']),
 ('broadway lirr sta', ['lirr broadway sta', 'lirr sta broadway']),
 ('142 st w', ['w 142 st', 'w w 142 st']),
 ('ave park so', ['park ave so', 'so park ave']),
 ('81 st', ['81 st st', '81 st']),
 ('11 avenue', ['11 avenue', 'avenue 11']),
 ('main ny ri st', ['main st ri ny ny', 'main st ri ny']),
 ('ave eb jamaica', ['jamaica ave eb', 'eb jamaica ave']),
 ('ave johns st', ['ave st johns', 'st johns ave', 'ave st johns ave']),
 ('marks st', ['st marks', 'st marks st']),
 ('21 east st', ['east 21 st st', 'east 21 st']),
 ('blvd sb woodhaven', ['woodhaven blvd sb', 'sb woodhaven blvd']),
 ('51 st west', ['west 51 st st', 'west 51 st']),
 ('jay st', ['st jay', 'jay st']),
 ('john st', ['st john st', 'john st']),
 ('plains rd sb white', ['sb white plains rd', 'white plains rd sb'])]

In [34]:
# filter the result by only taking the keys
stname_normalized.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1).take(5)

[('7 arr jfkia terminal',
  <pyspark.resultiterable.ResultIterable at 0x7f577864efa0>),
 ('5 avenue', <pyspark.resultiterable.ResultIterable at 0x7f5642fc89d0>),
 ('ave madison nb', <pyspark.resultiterable.ResultIterable at 0x7f5764f14280>),
 ('concourse grand sb',
  <pyspark.resultiterable.ResultIterable at 0x7f5764f147f0>),
 ('james st', <pyspark.resultiterable.ResultIterable at 0x7f5764f14880>)]

In [35]:
# count stname after clustering
stname_normalized.distinct(). \
	map(fingerprint). \
	groupByKey(). \
	filter(lambda x: len(x[1])>1).count()

48

In [36]:
# To determine a cluster should be merged or not, look more closely at the data.
# check the other attributes to determine if the two ids correspond to the same entity
parking_df.where((parking_df.street_name == '71 ST ST') | \
	(parking_df.street_name == '71 ST')). \
	show()

+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+
|summons_number|issue_date|violation_code|violation_county|violation_description|violation_location|violation_precinct|violation_time|time_first_observed|meter_number|issuer_code|issuer_command|issuer_precinct|issuing_agency|plate_id|plate_type|registration_state|street_name|vehicle_body_type|vehicle_color|vehicle_make|vehicle_year|
+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+
|    1400543575|2016-03-17|            21|               Q|                 null|               115|               115|         0936A|               null|           -|     333060|          T504|            504|             P| HAL4614|       PAS|                NY|      71 ST|             SUBN|          WHT|       DODGE|        1999|
|    1402126669|2016-03-15|            40|               K|                 null|                68|                68|         0148A|               null|           -|     952864|          0068|             68|             P| GXG5328|       PAS|                NY|      71 ST|             SUBN|          BLK|       LEXUS|        2010|
|    1404358699|2016-03-11|            50|               Q|                 null|               115|               115|         0945A|               null|           -|     956619|          0115|            115|             P| GKW1267|       PAS|                NY|      71 ST|             SUBN|        SILVR|       CHRYS|        2008|
|    1409130010|2016-03-14|            40|               K|                 null|                68|                68|         0400A|               null|           -|     959246|          0068|             68|             P| HAT5589|       PAS|                NY|      71 ST|             SUBN|        WHITE|        JEEP|        2011|
|    1400541189|2016-03-09|            21|               Q|                 null|               115|               115|         0942A|               null|           -|     333060|          T504|            504|             P| DAC6985|       PAS|                NC|      71 ST|              SDN|          RED|        FORD|           0|
|    1401424284|2016-03-02|            46|               K|                 null|                68|                68|         0430P|               null|           -|     948217|          0068|             68|             P| 92917JE|       COM|                NY|      71 ST|             DELV|           BR|       MERCU|           0|
|    1402127285|2016-03-15|            40|               K|                 null|                68|                68|         0558A|               null|           -|     950617|          0068|             68|             P| EEE5174|       PAS|                NY|      71 ST|              SDN|           GR|       MERCU|        2004|
|    1403921143|2016-03-01|            50|               K|                 null|                62|                62|         0654A|               null|           -|     938416|          0062|             62|             P| FYT6217|       PAS|                NY|      71 ST|              SDN|        WHITE|       INFIN|        2015|
|    1404340269|2016-03-09|            78|               Q|                 null|               104|               104|         1025P|               null|           -|     939200|          0104|            104|             P| 88453ME|       COM|                NY|      71 ST|              VAN|        WHITE|        FORD|        2010|
|    1407236155|2016-03-10|            21|               K|                 null|                68|                68|         1158A|               null|           -|     531401|          BK10|              0|             S|  VJL29K|       PAS|                NJ|      71 ST|              SDN|        GREEN|       TOYOT|           0|
|    1407252045|2016-03-08|            21|               K|                 null|                68|                68|         1158A|               null|           -|     538179|          KS10|              0|             S| 4GHE908|       PAS|                CA|   71 ST ST|             SUBN|        BLACK|       NISSA|           0|
|    1407252057|2016-03-08|            21|               K|                 null|                68|                68|         1200P|               null|           -|     538179|          KS10|              0|             S| CYU1298|       PAS|                NY|   71 ST ST|              SDN|         BLUE|       HONDA|        2004|
|    1407252069|2016-03-08|            21|               K|                 null|                68|                68|         1201P|               null|           -|     538179|          KS10|              0|             S|  CVYC12|       PAS|                FL|   71 ST ST|              VAN|        BLACK|       DODGE|           0|
|    1403757021|2016-03-24|            71|               Q|                 null|               115|               115|         1220P|               null|           -|     936663|          0420|            420|             P| HDM1506|       PAS|                NY|      71 ST|              SDN|          GRY|       MAZDA|        2007|
|    1404400503|2016-03-24|            98|               Q|                 null|               104|               104|         0404A|               null|           -|     958813|          0104|            104|             P| GRZ4349|       PAS|                NY|      71 ST|             SUBN|        WHITE|       HONDA|        2009|
|    1403908679|2016-03-27|            40|               K|                 null|                62|                62|         1118P|               null|           -|     959380|          0062|             62|             P| GZC3779|       PAS|                NY|      71 ST|              SDN|           WH|       ACURA|        2010|
|    1403912269|2016-03-26|            40|               K|                 null|                62|                62|         0233A|               null|           -|     939146|          0062|             62|             P| GZP5069|       OMS|                NY|   71 ST ST|              SDN|         GRAY|       DODGE|        2015|
|    1405648417|2016-03-27|            98|               Q|                 null|               104|               104|         0828A|               null|           -|     952789|          0104|            104|             P|  GDFR49|       PAS|                FL|      71 ST|             SUBN|         GRAY|       TOYOT|           0|
|    1406835493|2016-03-16|            98|               K|                 null|                68|                68|         1014A|               null|           -|     940055|          0068|             68|             P| GVC2095|       PAS|                NY|      71 ST|              VAN|           GN|       DODGE|        2003|
|    1402127315|2016-03-31|            78|               K|                 null|                68|                68|         0337A|               null|           -|     950617|          0068|             68|             P| 37892MH|       COM|                NY|      71 ST|              VAN|        WHITE|        FORD|        2015|
+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+
only showing top 20 rows

In [37]:
parking_df.where(parking_df.street_name == '71 ST ST').count()

4

In [38]:
parking_df.where(parking_df.street_name == '71 ST').count()

20

In [39]:
# we can combine them together since it looks like the 71 ST ST is the typo since they match with county and violation_locations
# I chose to replace 71 ST ST with 71 ST as 71 ST ST only appeared 4 times
parking_df = parking_df.withColumn('street_name', F.when(parking_df['street_name']=='71 ST ST', '71 ST').otherwise(parking_df['street_name']))
parking_df.where(parking_df.street_name == '71 ST ST').count()

0

In [40]:
# vehicle make data
vehicle_make_rdd = parking_df.select('vehicle_make').distinct().rdd.flatMap(list).filter(lambda x: x!=None)

In [41]:
vehicle_make_rdd.take(10)

['BOAT',
 'PETER',
 'YAMAH',
 'MARCU',
 'ACURA',
 'STE',
 'KENWO',
 'SUMMI',
 'WINN',
 'MO/V']

# 2. Outlier

In [42]:
# Outliers in vehicle_make

In [43]:
# check how many distinct vehicle_make in the table
spark.sql("SELECT count(DISTINCT vehicle_make) FROM parking").show()

+----------------------------+
|count(DISTINCT vehicle_make)|
+----------------------------+
|                        1146|
+----------------------------+

In [44]:
# check how many non null distinct vehicle_make in the table
spark.sql("SELECT count(DISTINCT vehicle_make) FROM parking WHERE plate_type IS NOT NULL").show()

+----------------------------+
|count(DISTINCT vehicle_make)|
+----------------------------+
|                        1146|
+----------------------------+

In [45]:
# list some vehicle_make
spark.sql("SELECT vehicle_make FROM parking").show(5)

+------------+
|vehicle_make|
+------------+
|       HONDA|
|        JEEP|
|        FORD|
|       DODGE|
|       CHEVR|
+------------+
only showing top 5 rows

In [46]:
# Clearly, all the vehicle_make is not null, check any invalid vehicle_make
spark.sql("SELECT count(vehicle_make) FROM parking WHERE vehicle_make like '%9%'").show()

+-------------------+
|count(vehicle_make)|
+-------------------+
|                  1|
+-------------------+

In [47]:
# check if intereting vehicle make with number 9
spark.sql("SELECT summons_number, issue_date, violation_code, violation_county, vehicle_make FROM parking WHERE vehicle_make like '%9%'").show()

+--------------+----------+--------------+----------------+------------+
|summons_number|issue_date|violation_code|violation_county|vehicle_make|
+--------------+----------+--------------+----------------+------------+
|    1405530509|2016-03-03|            79|              NY|          95|
+--------------+----------+--------------+----------------+------------+

In [48]:
# check if any intereting vehicle make
spark.sql("SELECT summons_number, issue_date, violation_code, violation_county, vehicle_make FROM parking WHERE vehicle_make like '%8%'").show()

+--------------+----------+--------------+----------------+------------+
|summons_number|issue_date|violation_code|violation_county|vehicle_make|
+--------------+----------+--------------+----------------+------------+
|    1409097596|2016-03-17|            66|              BX|        8115|
+--------------+----------+--------------+----------------+------------+

In [49]:
# check any intereting vehicle make
spark.sql("SELECT summons_number, issue_date, violation_code, violation_county, vehicle_make FROM parking WHERE vehicle_make REGEXP '^[0-9]+$'").show()

+--------------+----------+--------------+----------------+------------+
|summons_number|issue_date|violation_code|violation_county|vehicle_make|
+--------------+----------+--------------+----------------+------------+
|    1405530509|2016-03-03|            79|              NY|          95|
|    1406835997|2016-03-06|            98|               K|           1|
|    1409097596|2016-03-17|            66|              BX|        8115|
|    1405561907|2016-03-23|            46|              NY|          12|
|    4005641325|2016-03-21|             5|            null|         201|
+--------------+----------+--------------+----------------+------------+

In [50]:
# check total number of vehicle make that only consists of numbers
spark.sql("SELECT count(*) FROM parking WHERE vehicle_make REGEXP '^[0-9]+$'").show()

+--------+
|count(1)|
+--------+
|       5|
+--------+

In [51]:
# only 5 violation records have pure numberic vehicle make. We want to delete them from our database
# create a new data frame with no numberic vehicle make
from pyspark.sql.functions import col
parking_df5 = parking_df.filter(~col("vehicle_make").rlike("^[0-9]+$"))

In [52]:
parking_df5.count()

1008096

In [53]:
# after cleaning, check again
parking_df5.filter(col("vehicle_make").rlike("^[0-9]+$")).count()

0

In [54]:
# create a vew with parking_df5
parking_df5.createOrReplaceTempView("parking_cleaned")

In [55]:
parking_df5.groupBy('vehicle_make').count().orderBy('count', ascending=False).show(26)

+------------+------+
|vehicle_make| count|
+------------+------+
|        FORD|124710|
|       TOYOT|110717|
|       HONDA| 97505|
|       NISSA| 81869|
|       CHEVR| 70458|
|       FRUEH| 40756|
|       ME/BE| 35403|
|       DODGE| 34626|
|         BMW| 33989|
|        JEEP| 29899|
|       INTER| 27209|
|         GMC| 26677|
|       HYUND| 25912|
|       LEXUS| 23694|
|       ACURA| 18617|
|       CHRYS| 18071|
|       VOLKS| 17231|
|       INFIN| 15960|
|       SUBAR| 12535|
|        AUDI| 12152|
|       NS/OT| 11702|
|       ISUZU| 10989|
|       MITSU|  9955|
|        HINO|  9803|
|       MAZDA|  9728|
|         KIA|  9469|
+------------+------+
only showing top 26 rows

# 3. uniqueness

In [57]:
# show any repeated summons_number in the original database
spark.sql("SELECT summons_number, count(summons_number) AS count FROM parking GROUP BY summons_number ORDER BY count DESC").show()

+--------------+-----+
|summons_number|count|
+--------------+-----+
|    1398889878|    1|
|    1398890285|    1|
|    1382344934|    1|
|    1399191962|    1|
|    1399275999|    1|
|    1388230318|    1|
|    1399310215|    1|
|    1399361193|    1|
|    1388885270|    1|
|    1119098361|    1|
|    1398805774|    1|
|    1375895953|    1|
|    1401135250|    1|
|    1399622936|    1|
|    1400539936|    1|
|    1400543228|    1|
|    1399919192|    1|
|    1400213812|    1|
|    1402141671|    1|
|    1403014760|    1|
+--------------+-----+
only showing top 20 rows

In [58]:
# check if there are any repeated summons_number
spark.sql("SELECT summons_number, count(*) AS count FROM parking GROUP BY summons_number HAVING count > 1").show()

+--------------+-----+
|summons_number|count|
+--------------+-----+
+--------------+-----+

In [59]:
# Clearly, the summons_number is unique

# 4. functional dependency

In [60]:
# functional dependency:
# summons_number --> summons_number, issue_date, violation_code, violation_county, violation_description, violation_location, violation_precinct, violation_time, time_first_observed, meter_number, issuer_code, issuer_command, issuer_precinct, issuing_agency, plate_id, plate_type, registration_state, street_name, vehicle_body_type, vehicle_color, vehicle_make, vehicle_year
# summons_number can uniquely determine the other attributes
spark.sql("SELECT count(DISTINCT summons_number) AS unique_num, count(*) FROM parking").show()
# the functional dependency is valid and the summons_number is the primary key

+----------+--------+
|unique_num|count(1)|
+----------+--------+
|   1014017| 1014017|
+----------+--------+

In [68]:
# It is also possible that violation_location --> violation_precinct
spark.sql("SELECT violation_county, violation_location, violation_precinct, issuer_precinct FROM parking").show()

+----------------+------------------+------------------+---------------+
|violation_county|violation_location|violation_precinct|issuer_precinct|
+----------------+------------------+------------------+---------------+
|              NY|                 1|                 1|              1|
|              BX|                45|                45|             43|
|              NY|                34|                34|              0|
|               K|                67|                67|             67|
|              NY|                14|                14|            161|
|              NY|                14|                14|             14|
|              NY|                36|                36|              0|
|              BX|                47|                47|              0|
|               K|                70|                70|             70|
|              NY|                10|                10|            420|
|              BX|                43|                43|            163|
|              BX|                47|                47|             47|
|               K|                73|                73|            165|
|              NY|                28|                28|             28|
|              BX|                49|                49|              0|
|               K|                70|                70|             70|
|              NY|                 6|                 6|              6|
|              NY|                14|                14|             14|
|              BX|                42|                42|             42|
|              NY|                19|                19|            137|
+----------------+------------------+------------------+---------------+
only showing top 20 rows

In [70]:
# check if there exists any violation record that has different violation_location than violation_precinct
spark.sql("SELECT summons_number, violation_location, violation_precinct FROM parking WHERE violation_location != violation_precinct").show()

+--------------+------------------+------------------+
|summons_number|violation_location|violation_precinct|
+--------------+------------------+------------------+
|    1399962218|                -1|                 0|
|    1405544685|                -1|                 0|
|    1408162891|                -1|                 0|
|    4617489101|                -1|                 0|
|    6020498920|                -1|                 0|
|    7495892237|                -1|                 0|
|    7604084588|                -1|                 0|
|    1399378934|                -1|                 0|
|    1404295392|                -1|                 0|
|    1405539288|                -1|                 0|
|    1405544170|                -1|                 0|
|    1405547870|                -1|                 0|
|    1407025302|                -1|                 0|
|    4005586958|                -1|                 0|
|    4616846996|                -1|                 0|
|    4617113885|                -1|                 0|
|    4617223575|                -1|                 0|
|    4617615702|                -1|                 0|
|    4617726342|                -1|                 0|
|    5090702779|                -1|                 0|
+--------------+------------------+------------------+
only showing top 20 rows

In [71]:
spark.sql("SELECT count(violation_location) FROM parking WHERE violation_location == 1").show()
spark.sql("SELECT summons_number, violation_location, violation_precinct FROM parking WHERE violation_location != violation_precinct").show()spark.sql("SELECT count(violation_precinct) FROM parking WHERE violation_precinct == 1").show()

+-------------------------+
|count(violation_location)|
+-------------------------+
|                    29953|
+-------------------------+

+-------------------------+
|count(violation_precinct)|
+-------------------------+
|                    29953|
+-------------------------+

In [74]:
# Show that either violation_location = violation_precinct or violation_location = -1 and violation_precinct = 0
# thus, violation_location --> violation_precinct
spark.sql("SELECT summons_number, violation_location, violation_precinct FROM parking WHERE violation_location != violation_precinct AND violation_location == -1 AND violation_precinct != 0").show()

+--------------+------------------+------------------+
|summons_number|violation_location|violation_precinct|
+--------------+------------------+------------------+
+--------------+------------------+------------------+

# 5. value constraints

In [61]:
# value constraints
# we want to check if vehicle year is between 1886(first car built in history) and 2023(current year)
spark.sql("SELECT vehicle_year, count(vehicle_year) AS count FROM parking GROUP BY vehicle_year HAVING vehicle_year > 2023 OR vehicle_year < 1886 ORDER BY count desc").show()

+------------+------+
|vehicle_year| count|
+------------+------+
|           0|223110|
|        2066|    28|
|        2069|    13|
|        2062|    11|
|        2068|    11|
|        2067|     9|
|        2065|     7|
|        2025|     6|
|        2063|     6|
|        2027|     5|
|        2064|     4|
|        2061|     4|
|        2047|     2|
|        2052|     2|
|        2045|     2|
|        2058|     2|
|        2059|     2|
|        2029|     2|
|        2031|     2|
|        2032|     1|
+------------+------+
only showing top 20 rows

In [62]:
# Clearly, there are many invalid data of vehicle_year
# For vehicle year > 2023, we force them to be 2023. For vehicle year = 0, change the vehicle year to null
# change plate_type 999 to null
parking_df6 = parking_df.withColumn('vehicle_year', F.when(parking_df['vehicle_year']=='0', 'null').otherwise(parking_df['vehicle_year']))
parking_df6 = parking_df6.withColumn('vehicle_year', F.when(parking_df6['vehicle_year'] > 2023, 2023).otherwise(parking_df6['vehicle_year']))
parking_df6.groupBy('vehicle_year').count().orderBy('count', ascending=False).show(26)

+------------+------+
|vehicle_year| count|
+------------+------+
|        null|223110|
|        2015|110455|
|        2014| 83167|
|        2013| 69772|
|        2012| 50065|
|        2007| 45898|
|        2011| 42989|
|        2016| 42562|
|        2006| 42195|
|        2008| 39694|
|        2005| 37570|
|        2004| 34845|
|        2010| 34208|
|        2009| 31723|
|        2003| 29119|
|        2002| 24699|
|        2001| 20716|
|        1999| 12380|
|        1998|  9505|
|        1997|  8540|
|        1996|  4814|
|        1995|  4061|
|        1990|  1799|
|        1994|  1698|
|        1988|  1529|
|        1992|  1442|
+------------+------+
only showing top 26 rows

In [63]:
# check if there are still vehicle_year > 2023
parking_df6.filter(col("vehicle_year") > 2023).show()

+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+
|summons_number|issue_date|violation_code|violation_county|violation_description|violation_location|violation_precinct|violation_time|time_first_observed|meter_number|issuer_code|issuer_command|issuer_precinct|issuing_agency|plate_id|plate_type|registration_state|street_name|vehicle_body_type|vehicle_color|vehicle_make|vehicle_year|
+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+
+--------------+----------+--------------+----------------+---------------------+------------------+------------------+--------------+-------------------+------------+-----------+--------------+---------------+--------------+--------+----------+------------------+-----------+-----------------+-------------+------------+------------+

# 6. meta data

In [64]:
# meta data
# I found that there are 64 registration_state. However, there are only 50 states in the US
spark.sql("SELECT count(DISTINCT registration_state) FROM parking").show()

+----------------------------------+
|count(DISTINCT registration_state)|
+----------------------------------+
|                                64|
+----------------------------------+

In [65]:
# find out all the US states and set the registration_state to null if they are not in states array
states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
parking_df7 = parking_df.withColumn('registration_state', F.when(parking_df['registration_state'].isin(states), parking_df['registration_state']).otherwise('null'))

In [66]:
# 50 states + null should be 51.
parking_df7.select(col("registration_state")).distinct().count()

51

In [67]:
parking_df7.groupBy('registration_state').count().orderBy('count', ascending=False).show()

+------------------+------+
|registration_state| count|
+------------------+------+
|                NY|794106|
|                NJ| 93049|
|                PA| 25434|
|                CT| 13168|
|                FL| 12440|
|                MA|  8720|
|                IN|  8092|
|                VA|  6628|
|                MD|  5232|
|                NC|  5082|
|              null|  5079|
|                IL|  3265|
|                GA|  3188|
|                TX|  2907|
|                OH|  2233|
|                ME|  2092|
|                AZ|  1992|
|                CA|  1991|
|                SC|  1985|
|                OK|  1857|
+------------------+------+
only showing top 20 rows